/***********************************  HEXAGONER  ***********************************/

.hex {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  max-height: 430px;
}

.hex_bag {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background-color: var(--brand);
  width: 100%;
  padding: 3%;
}

.hex_bag_2 {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background-color: var(--brand);
  width: 100%;
  padding: 3%;
}

.hex_baggrund {
  position: relative;
}

.hex_green {
  background-color: var(--light_green);
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  aspect-ratio: 1/1;
  width: 20%;
}

.hex_blue {
  background-color: var(--light_blue);
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  aspect-ratio: 1/1;
  width: 20%;
}

.hex_gradient {
  background: linear-gradient(0.15turn, #dbeef5, #daebd2, #ffe1a9);
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  aspect-ratio: 1/1;
  width: 20%;
}

/***********************************  PLACERING  ***********************************/

.hex_index_1 {
  position: absolute;
  top: 71%;
  left: 68%;
  width: 47%;
}
.hex_index_2 {
  position: absolute;
  top: 119%;
  left: -21%;
  width: 78%;
}

.hex_app_1 {
  position: absolute;
  top: 70%;
  left: 40%;
  width: 61%;
}
.hex_app_2 {
  position: absolute;
  top: 403%;
  left: 34%;
  width: 65%;
}
.hex_vision_1 {
  position: absolute;
  top: 52%;
  left: -17%;
  width: 61%;
}
.hex_vision_2 {
  position: absolute;
  top: 79%;
  left: 70%;
  width: 33%;
}
.hex_vision_3 {
  position: absolute;
  top: 125%;
  left: 55%;
  width: 50%;
}

/***********************************  DESKTOP  ***********************************/

@media (min-width: 800px) {
  .hex_bag {
    margin: 1rem;
  }

  .hex_1_place {
    top: 27%;
    left: 68%;
    width: 35%;
  }
  .hex_2_place {
    top: 24%;
    left: -9%;
    width: 50%;
  }

  .hex_3_place {
    top: 4%;
    width: 34%;
    left: 46%;
  }
  .hex_4_place {
    top: 46%;
    left: -18%;
    width: 28%;
  }
  .hex_vision_1 {
    top: 54%;

    left: -17%;
    width: 61%;
  }
  .hex_6_place {
    top: 13%;
    left: 77%;
    width: 18%;
  }
  .hex_7_place {
    top: 13%;
    left: 77%;
    width: 18%;
  }
}
