/***********************************  VARIABLER  ***********************************/

html {
  --yellow: #ffa600;
  --midnight: #022e40;
  --midnight_2: #1a4252;
  --midnight_3: #305462;
  --brand: #04668c;
  --light_blue: #dbeef5;
  --green: #6aa64e;
  --light_green: #daebd2;
  --white: #f2f2f2;
  --black: #333333;

  --font_1: "Open Sans", sans-serif;
  --font_2: "Fugaz One", sans-serif;
}

/***********************************  RESET + BASE  ***********************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #f9f9f9;
  max-width: 2000px;
}

main {
  background-color: #f9f9f9;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.max {
  max-width: 1920px;
  margin: 0 auto;
}

article {
  z-index: 1;
  position: relative;
}

.space {
  margin: 2rem;
}

.space_top {
  margin-top: 2rem;
}
.space_bottom {
  margin-bottom: 2rem;
}

/***********************************  TEKST  ***********************************/

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: italic;

  color: var(--midnight);
  margin: 0;
}

h2 {
  font-family: "Fugaz One", sans-serif;
  font-size: 1.35rem;
  text-transform: uppercase;
  color: var(--midnight);
  margin: 0;
}

h3 {
  font-family: "Fugaz One", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--midnight);
  margin: 0;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-style: italic;

  text-align: center;

  color: var(--midnight);
}

h5 {
  font-family: "Fugaz One", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--midnight_2);
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: var(--black);
  margin: 0;
  max-width: 60ch;
  line-height: 1.5;
}

.pf {
  font-size: 0.75rem;
  text-align: center;
  padding: 0;
}

.quote {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;

  color: var(--black);
  margin: 0;
}

.quote_from {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;

  color: var(--black);
  margin: 1rem 0 0;
}

.founder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;

  color: var(--midnight_2);
}

.light_txt {
  color: var(--white);
}

.right_txt {
  text-align: right;
}

.center {
  text-align: center;
}
.required {
  color: red;
}

/***********************************  BILLEDER + VIDEO ***********************************/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo {
  width: 200px;
  padding: 1rem;
  margin: 0;
}

.logo_footer {
  width: 200px;
  padding: 1rem 0;
  margin: 0;
}

.checkmark {
  width: 2rem;
  margin: 0.25rem;
}

.hero {
  max-height: 500px;
}

.relative_frame {
  position: relative;
}

.overlay {
  position: absolute;
  top: 55%;
  right: 5%;
}

.video {
  width: 100%;
}

.icon {
  width: 175%;
}

.contact img {
  margin: 0;
}

/***********************************  BACKGROUNDS  ***********************************/

.gradient {
  background: linear-gradient(0.15turn, #04668c, #6aa64e, #ffa600);
}

.box {
  padding: 1rem 2rem;
}

.top {
  margin-bottom: -0.1rem;
  display: block;
  width: 105%;
}

.bund {
  margin-top: -0.1rem;
  display: block;
  width: 105%;
}
.blaa {
  background-color: var(--midnight);
  padding: 2rem 0rem;
  z-index: 2;
  /* margin-bottom: 3rem; */
}

/***********************************  HEADER  ***********************************/

header {
  z-index: 1000;

  background-color: var(--white);
  padding: 0.5rem;
  margin-bottom: 0;

  box-shadow: 0 0 5px #52525280;
}

header a {
  text-decoration: none;
  color: var(--sort);
}

header nav ul {
  list-style: none;
}

.flex_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/***********************************  BURGERMENU  ***********************************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--brand);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    z-index: 100;
  }

  nav.active .menu li {
    margin: 2rem 0;
  }
}

/***********************************  FOOTER  ***********************************/

footer {
  background-color: var(--white);
  padding: 2rem;
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.pf {
  font-size: 1rem;
  padding: 0;
}

.social_flex,
.footer_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social_icon_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

/***********************************  LINKS  ***********************************/

a {
  text-decoration: none;
  color: var(--sort);
}

.link {
  text-decoration: underline;
  color: var(--brand);
}

/***********************************  LISTER  ***********************************/

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--sort);

  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
}

li {
  padding: 0 1rem;
}

/***********************************  LISTEPUNKTER  ***********************************/

/* Nedenstående er lånt herfra https://codepen.io/toianw/pen/YqEqrz */

li {
  list-style-type: none;
}

li > a {
  display: inline-block;
  position: relative;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

li > a:hover::after,
li > a.active-nav::after {
  width: 100%;
  background: var(--yellow);
}

/***********************************  FORM  ***********************************/

form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  color: var(--white);

  /* margin: 2rem 0 0; */
}

label,
input,
select {
  display: block;
  max-width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

label {
  height: fit-content;
}

textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: 4rem;
  border-radius: 5px;
  border: none;
}

.form-felt {
  display: grid;
  gap: 0.5rem;
}

/***********************************  KNAPPER  ***********************************/

button {
  background-color: var(--yellow);
  border-style: solid;
  border-color: var(--yellow);
  border-radius: 5px;
  padding: 0.5rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  width: fit-content;
}

button:visited {
  color: var(--white);
}

button:hover {
  border-style: solid;
  border-color: var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

.button_luft {
  padding: 1rem 0rem;
}

.knap_1 {
  background-color: var(--green);
  border-style: solid;
  border-color: var(--green);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  width: fit-content;
}

.knap_1:visited {
  color: var(--white);
}

.knap_1:hover {
  border-style: solid;
  border-color: var(--green);
  background-color: transparent;
  color: var(--green);
}

.knap_2 {
  border-style: solid;
  border-color: var(--yellow);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--yellow);
  text-transform: uppercase;
  width: fit-content;
}

.knap_2:visited {
  color: var(--yellow);
}
.knap_2:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.green {
  border-color: var(--green);
  color: var(--green);
}

.green:visited {
  color: var(--green);
}
.green:hover {
  background-color: var(--green);
  color: var(--white);
}

/***********************************  FLEX + GRID  ***********************************/

.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin: 2rem auto; */
}

.flex_space {
  margin: 2rem auto;
}

.flex_elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_checkmark {
  align-items: center;
}

.grid_flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.grid_1-4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.grid_1-1-1_mobil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid_step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;

  position: relative;
}
/* .step_arrow_1 {
  height: 100px;
} */
.step_hex_2 {
  grid-column: 1;
  grid-row: 3;
}

.step_txt_2 {
  grid-column: 2;
  grid-row: 3;
}

.step_arrow_2 {
  grid-column: 1;
  grid-row: 4;
}
.step_hex_3 {
  grid-column: 1;
}
.step_txt_3 {
  grid-column: 2;
  grid-row: 5;
}

.about_headings {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.about_contact {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.layout_form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/***********************************  SPECIALS  ***********************************/

.luft {
  padding: 1rem 1.5rem;
}

.badge {
  z-index: 1;
  position: absolute;
  top: 92%;
  left: 30%;
  width: 4rem;
}

/***********************************  TABLET  ***********************************/
/***********************************  TABLET  ***********************************/

@media (min-width: 600px) {
  main {
    gap: 2rem;
  }

  /************** TEXT **************/
  h1 {
    font-size: 2.75rem;
  }

  /************** GRID **************/

  .order {
    order: 2;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;

    margin: 2rem 10%;
  }
  .grid_1-1_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    margin: 2rem 10%;
  }

  .grid_flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
  }

  .center_web {
    text-align: center;
  }

  .badge {
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 30%;
    width: 5rem;
  }
}

/***********************************  DESKTOP  ***********************************/
/***********************************  DESKTOP  ***********************************/

@media (min-width: 1000px) {
  /************** HEADER **************/
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    gap: 2rem;
    overflow-x: auto;
  }
  .flex_header {
    width: 1400px;
    margin: 0 auto;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer_flex {
    align-items: start;
  }

  .social_flex {
    align-items: end;
  }

  /************** WHITESPACE **************/
  .space {
    margin: 2rem 15%;
  }

  .frame {
    padding: 2rem 2rem;
    border-radius: 5px;
  }

  .distance {
    margin: 2rem 15%;
  }

  .box {
    padding: 5rem 10rem;
  }

  .grid_1-1 {
    margin: 2rem 15%;
  }
  .grid_1-1_top {
    margin: 2rem 15%;
  }
  /************** TEKSTER **************/
  h1 {
    font-size: 3rem;
    margin: 5rem 0;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 3.5rem;
    margin: 0 15%;
  }

  p {
    font-size: 1rem;
  }

  /************** GRID **************/

  .grid_flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 3rem;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;

    margin: 2rem 15%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem 15%;
  }
  .grid_step {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    gap: 2rem;
    align-items: center;
  }

  .step_txt_1 {
    grid-column: 1;
    grid-row: 2;
  }
  .step_arrow_1 {
    transform: rotate(270deg);
    grid-column: 2;
    grid-row: 1;
  }
  .step_hex_2 {
    grid-column: 3;
    grid-row: 1;
  }

  .step_txt_2 {
    grid-column: 3;
    grid-row: 2;
  }

  .step_arrow_2 {
    transform: rotate(270deg);
    grid-column: 4;
    grid-row: 1;
  }
  .step_hex_3 {
    grid-column: 5;
    grid-row: 1;
  }
  .step_txt_3 {
    grid-column: 5;
    grid-row: 2;
  }
  .badge {
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 93%;
    width: 5rem;
  }

  /************** VIDEO + FOTO **************/
  .overlay {
    position: absolute;
    top: 50%;
    right: 10%;
  }
  .video {
    margin: 0;
    height: 90vh;
  }

  /* .image {
    border-radius: 5px;
  } */

  .icon {
    width: 175%;
    /* margin: 0 auto 3rem; */
  }

  /************** FOTO HOVER **************/
  .person .image-container {
    position: relative;
    width: 100%;
  }

  .person .image-container .hover-img {
    position: absolute;
    top: -32px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .person .image-container:hover .hover-img {
    opacity: 1;
  }
}
